# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.db

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
.conda
env/
venv/

.idea
.vscode

*.old
*.zip
*.png
*.joblib
*.csv

