click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
dvc==3.67.1
dvc-data==3.18.3
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-studio-client==0.23.0
dvc-task==0.40.2
joblib==1.5.3
mlflow==3.15.1
mlflow-skinny==3.15.1
mlflow-tracing==3.15.1
opensearch-protobufs==1.2.0
pandas==2.3.3
pandas-gbq==0.35.1
protobuf==6.33.6
PyYAML==6.0.3
PyYAML-ft==8.0.0
scikit-learn==1.9.0
types-protobuf==7.34.1.20260518